@use "sass:map";

.button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;

  &_type {
    &_accept {
      background-color: #fb743e;
      font-style: normal;
      font-weight: map.get($font-weights, "medium");
      font-size: 1rem;
      line-height: 1.25;
      color: #ffffff;
      overflow: hidden;
      z-index: 1;
    }

    &_accept::before {
      content: "";
      @include wh($w: 100%, $h: 100%);
      position: absolute;
      top: 0px;
      left: 0px;
      background-image: linear-gradient(#FF4500, #FF4500);
      background-repeat: no-repeat;
      background-size: 0% 100%;
      transition: background-size 0.5s linear;
      z-index: -1;
    }

    &_accept:hover::before {
      background-size: 100% 100%;
    }
  }
}
