@use "sass:map";

.content {

  &__section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &__section-headline {
    padding: 0 0 50px 0;
    margin: 0;
    font-style: normal;
    font-weight: map.get($font-weights, "bold");
    font-size: 2.5rem;
    line-height: 1.33;
    color: #272343;
    position: relative;
  }

  &__section-headline::after {
    position: absolute;
    content: "";
    bottom: 40px;
    left: 0;
    @include wh($w: 112px, $h: 4px);
    background-color: #FB743E;
  }
}
