.featured-post {

  &__list{
    padding-left: 5px;
    padding-right: 5px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 648px));
    gap: 24px;
  }

  &__list-item {
    min-height: 688px;

    @include tabletStyles {
      min-height: 456px;
    }
  }

  &__image {
    @include wh($w: 100%, $h: 508px);
    object-fit: cover;
    object-position: center;

    @include tabletStyles {
      height: 296px;
    }
  }
}
