@use "sass:map";

.post {
  padding-top: 100px;
  padding-bottom: 100px;
  width: 90%;
  max-width: 1096px;
  display: grid;
  grid-template-columns: 20% 75%;
  grid-template-areas:
    "info title"
    "info subtitle"
    "info main";
  column-gap: 50px;

  @include tabletStyles {
    padding-top: 60px;
    padding-bottom: 60px;
    grid-template-areas:
      "title"
      "subtitle"
      "info"
      "main";
    grid-template-columns: 1fr;
  }

  &__social-info {
    grid-area: info;

    @include tabletStyles {
      @include flex($direction: row);
    }
  }

  &__social-info-element {
    display: block;
    padding-left: 28px;
    margin-bottom: 34px;
    position: relative;

    @include tabletStyles {
      margin-bottom: 16px;
      margin-right: 16px;
    }
  }

  &__social-info-element::before {
    @include wh($w: 18px, $h: 18px);

    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__likes-count::before {
    background-image: url("./images/like-icon.svg");
  }

  &__comments-count::before {
    background-image: url("./images/comment-icon.svg");
  }

  &__main-content {
    grid-area: main;
  }

  &__title {
    margin: 0 0 16px;
    font-style: normal;
    font-weight: map.get($font-weights, "bold");
    font-size: 2.5rem;
    line-height: 1;
    color: #272343;
    grid-area: title;
  }

  &__subtitle {
    margin: 0 0 24px;
    font-style: normal;
    font-weight: map.get($font-weights, "regular");
    font-size: 1.12rem;
    line-height: 1.5;
    color: #494b5c;
    grid-area: subtitle;
  }

  &__quote {
    padding-left: 24px;
    margin: 0 0 60px;
    border-left: 3px solid #fb743e;
    font-style: normal;
    font-weight: map.get($font-weights, "regular");
    font-size: 1.37rem;
    line-height: 1.5;
    color: #494b5c;
  }

  &__section {
    padding-bottom: 50px;
  }

  &__section-title {
    margin: 0 0 32px;
    font-style: normal;
    font-weight: map.get($font-weights, "bold");
    font-size: 1.75rem;
    line-height: 1.5;
  }

  &__section-subtitle {
    margin: 0 0 8px;
    font-style: normal;
    font-weight: map.get($font-weights, "regular");
    font-size: 1.5rem;
    line-height: 1.5;
  }

  &__illustration {
    width: 100%;
    max-height: 400px;
    margin-bottom: 32px;
    object-fit: contain;
    object-position: left top;
    box-shadow: -6px 0 6px -5px rgba(34, 60, 80, 60%);
  }

  &__paragraph {
    margin: 0 0 20px;
    font-style: normal;
    font-weight: map.get($font-weights, "regular");
    font-size: 1.12rem;
    line-height: 1.5;
    color: #494b5c;
  }

  &__social-panel {
    @include flex($direction: row, $justify: space-between);

    padding: 5% 10%;
    border-style: solid;
    border-width: 1px 0;
    border-color: #6d7280;

    @include tabletStyles {
      @include flex($direction: column, $align: center);
    }
  }

  &__like-btn {
    min-width: 20%;
    padding: 1rem 20% 1rem 25%;
    position: relative;

    @include desctopStyles {
      margin-bottom: 1rem;
    }
  }

  &__like-btn::after {
    @include wh($w: 1rem, $h: 1rem);

    position: absolute;
    content: "";
    top: calc(50% - 0.5rem);
    left: 30%;
    background-image: url("./images/like-icon-white.svg");
    background-size: contain;
    background-position: right center;
    background-repeat: no-repeat;
  }
}
