@use "sass:map";

.comment {
  padding-top: 24px;
  padding-bottom: 24px;

  &__author {
    @include flex($direction: row, $align: center);
    margin-bottom: 12px;
  }

  &__author-avatar {
    @include wh($w: 40px, $h: 40px);
    margin-right: 12px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }

  &__author-about {
    margin: 0;
  }

  &__author-about-item {
    display: block;
    margin-bottom: 8px;
    font-style: normal;
    font-size: 16px;
    line-height: 1;
    font-size: 15px;
    line-height: 1;
  }

  &__author-about-item:last-of-type {
    margin-bottom: 0;
  }

  &__author-name {
    font-weight: map.get($font-weights, "medium");
    color: #272343;
  }

  &__publication-date {
    font-weight: map.get($font-weights, "regular");
    color: #6d7280;
  }

  &__text {
    margin: 0;
    font-style: normal;
    font-weight: map.get($font-weights, "regular");
    font-size: 17px;
    line-height: 1.5;
    color: #6d7280;
  }

  &__replay-btn {
    padding: 12px 0;
    border: none;
    font-style: normal;
    font-weight: map.get($font-weights, "medium");
    font-size: 15px;
    line-height: 1;
    color: #494B5C;
  }
}
