.post-preview {
  &_place {
    &_recent-post{
      padding: 24px;
      width: 100%;
      box-sizing: border-box;
      background-color: rgba(245, 245, 245, 0.5);
    }

    &_lates-post{
      padding: 20px;
      width: 95%;
      box-sizing: border-box;
      transform: translateY(-44px);
      background-color: #FFFFFF;
    }

    &_featured-post {
      padding: 32px;
      width: 85%;
      box-sizing: border-box;
      transform: translateY(-70px);
      background-color: #F7F7F7;
    }

    &_search-post {
      padding: 32px;
      width: 85%;
      box-sizing: border-box;
      transform: translateY(-70px);
      background-color: #F7F7F7;
    }

    &_post-details {
      padding: 40px;
      width: 90%;
      max-width: 1096px;
      box-sizing: border-box;
      box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    }
  }

  &__category {
    padding: 0 32px;
    margin: 0 0 10px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    color: #272343;
    position: relative;
  }

  &__category::before {
    position: absolute;
    content: "";
    top: 11px;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: #fb743e;
  }

  &__title {
    margin: 0;
    font-style: normal;
    font-weight: bold;
    line-height: 1.2;
    color: #272343;

    &_size {
      &_small {
        margin-bottom: 10px;
        font-size: 28px;
      }

      &_medium {
        margin-bottom: 20px;
        font-size: 64px;
      }
    }
  }

  &__holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__info {
    margin: 0;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    color: #6d7280;
  }

  &__info-element {
    display: inline-block;
    padding-right: 21px;
    position: relative;
  }

  &__info-element::after {
    position: absolute;
    content: "";
    top: 9px;
    right: 8px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #6d7280;
  }

  &__info-element:last-of-type::after {
    display: none;
  }

  &__learn-more-btn {
    display: inline-block;
    padding-right: 32px;
    margin-top: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #272343;
    position: relative;
  }

  &__learn-more-btn::after {
    position: absolute;
    content: "";
    top: 7px;
    right: 4px;
    width: 16px;
    height: 9px;
    background-image: url(./images/arrow-btn.svg);
    background-size: contain;
    background-position: right center;
    background-repeat: no-repeat;
  }

  &__avatar {
    width: 40px;
    height: 40px;
    margin-right: 12px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }

  &__user-name {
    color: #272343;
  }
}
