.post-preview {
  &__category {
    padding: 0 32px;
    margin: 0 0 10px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    color: #272343;
    position: relative;
  }

  &__category::before {
    position: absolute;
    content: "";
    top: 11px;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: #fb743e;
  }

  &__title {
    margin: 0 0 10px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 1.2;
    color: #272343;
  }

  &__holder {
  }

  &__info {
    margin: 0 0 20px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    color: #6d7280;
  }

  &__info-element {
    display: inline-block;
    padding-right: 21px;
    position: relative;
  }

  &__info-element::after {
    position: absolute;
    content: "";
    top: 9px;
    right: 8px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #6d7280;
  }

  &__info-element:last-of-type::after {
    display: none;
  }

  &__learn-more-btn {
    padding-right: 32px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #272343;
    position: relative;
  }

  &__learn-more-btn::after {
    position: absolute;
    content: "";
    top: 7px;
    right: 4px;
    width: 16px;
    height: 9px;
    background-image: url(./images/arrow-btn.svg);
    background-size: contain;
    background-position: right center;
    background-repeat: no-repeat;
  }

  &__avatar {
  }

  &__user-name {
  }
}
