.recent-post {
  &__list {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 24px;
  }

  &__list-item {
    padding: 24px;
    background-color: rgba(245, 245, 245, 0.5);
  }
}
