<footer class="footer page__section">
  <div class="footer__row footer__row_content_main-info">
    <div class="footer__column footer__column_content_logo">
      <a href="#" class="logo footer__logo link"
        >Blog<span class="logo__color-accent">y.</span></a
      >
      <p class="footer__paragraph">
        Phasellus porttitor sapien a purus venenatis condimentum. Nunc
        lectus ipsum, laoreet ut efficitur.
      </p>
    </div>

    <div class="footer__column footer__column_content_info">
      <h4 class="footer__column-title">Category</h4>
      <nav>
        <ul class="list footer__column-links">
          <li class="footer__column-link">
            <a class="footer__link link" href="#" target="_blank">Travel</a>
          </li>
          <li class="footer__column-link">
            <a class="footer__link link" href="#" target="_blank">Food</a>
          </li>
          <li class="footer__column-link">
            <a class="footer__link link" href="#" target="_blank"
              >Lifestyle</a
            >
          </li>
          <li class="footer__column-link">
            <a class="footer__link link" href="#" target="_blank"
              >Fashion</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <div class="footer__column footer__column_content_info">
      <h4 class="footer__column-title">Follow us</h4>
      <nav>
        <ul class="list footer__column-links">
          <li class="footer__column-link">
            <a class="footer__link link" href="#" target="_blank"
              >Facebook</a
            >
          </li>
          <li class="footer__column-link">
            <a class="footer__link link" href="#" target="_blank"
              >Twitter</a
            >
          </li>
          <li class="footer__column-link">
            <a class="footer__link link" href="#" target="_blank"
              >Instagramm</a
            >
          </li>
          <li class="footer__column-link">
            <a class="footer__link link" href="#" target="_blank"
              >Youtube</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <div
      class="
        footer__column footer__column_content_subscription
        subscription
      "
    >
      <h4 class="footer__column-title">Newsletter</h4>
      <form
        class="subscription__form"
        name="user-subscription-form"
        action="#"
        autocomplete="off"
      >
        <input
          class="subscription__input"
          type="email"
          name="user-email"
          placeholder="Enter Email"
        />
        <button
          class="subscription__accept-btn button button_type_accept"
          type="submit"
        >
          Subscribe
        </button>
      </form>
    </div>
  </div>
  <p class="footer__row footer__row_content_copyright">
    &copy;&nbsp; Blogy 2021
  </p>
</footer>
