<header class="header page__section">
  <a href="#" class="logo header__logo link"
    >Blog<span class="logo__color-accent">y.</span></a
  >
  <nav>
    <ul class="header__list list">
      <li class="header__list-item">
        <a href="#" class="header__link link">Home</a>
      </li>
      <li class="header__list-item">
        <a href="#" class="header__link link">All post</a>
      </li>
      <li class="header__list-item">
        <a href="#" class="header__link link">Contact us</a>
      </li>
    </ul>
  </nav>
</header>
