@use "sass:map";

.post-preview {
  &_place {
    &_recent-post {
      padding: 1.5rem;
      width: 100%;
      box-sizing: border-box;
      background-color: rgba(245, 245, 245, 50%);
    }

    &_lates-post {
      padding: 1.25rem;
      width: 95%;
      box-sizing: border-box;
      transform: translateY(-2rem);
      background-color: #fff;
    }

    &_featured-post {
      padding: 2rem;
      width: 85%;
      box-sizing: border-box;
      transform: translateY(-4rem);
      background-color: #f7f7f7;

      @include tabletStyles {
        width: 95%;
      }
    }

    &_search-post {
      padding: 2rem;
      width: 85%;
      box-sizing: border-box;
      transform: translateY(-4rem);
      background-color: #f7f7f7;

      @include tabletStyles {
        width: 95%;
      }
    }

    &_post-details {
      padding: 2.5rem;
      width: 90%;
      max-width: 1096px;
      box-sizing: border-box;
      box-shadow: 0.25rem 0.25rem 0.5rem 0 rgba(34, 60, 80, 20%);
    }
  }

  &__category {
    padding: 0 2rem;
    margin: 0 0 0.625rem;
    font-style: normal;
    font-weight: map.get($font-weights, "regular");
    font-size: 1rem;
    line-height: 1.5;
    color: #272343;
    position: relative;
  }

  &__category::before {
    @include wh($w: 1.5rem, $h: 0.125rem);

    position: absolute;
    content: "";
    top: 0.685rem;
    left: 0;
    background-color: #fb743e;
  }

  &__title {
    margin: 0;
    font-style: normal;
    font-weight: map.get($font-weights, "bold");
    line-height: 1.2;
    color: #272343;

    &_size {
      &_small {
        margin-bottom: 0.625rem;
        font-size: 1.75rem;
      }

      &_medium {
        margin-bottom: 1.25rem;
        font-size: 4rem;

        @include tabletStyles {
          font-size: 2rem;
        }
      }
    }
  }

  &__holder {
    @include flex($direction: row, $align: center);

    @include tabletStyles {
      @include flex($direction: column, $align: center, $justify: center);
    }
  }

  &__avatar-holder {
    @include flex($direction: row, $align: center);

    margin-right: 1rem;

    @include tabletStyles {
      margin-bottom: 1rem;
      margin-right: 0;
    }
  }

  &__avatar-subline {
    display: inline-block;
  }

  &__avatar {
    @include wh($w: 2.5rem, $h: 2.5rem);

    margin-right: 0.75rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }

  &__info {
    @include flex($direction: row, $align: center);

    margin: 0;
    font-style: normal;
    font-weight: map.get($font-weights, "regular");
    font-size: 1rem;
    line-height: 1.5;
    color: #6d7280;

    @include tabletStyles {
      margin-bottom: 1rem;
    }
  }

  &__info-element {
    display: inline-block;
    padding-right: 1.5rem;
    position: relative;
  }

  &__info-element::after {
    @include wh($w: 0.375rem, $h: 0.375rem);

    position: absolute;
    content: "";
    top: 0.5rem;
    right: 0.5rem;
    border-radius: 50%;
    background-color: #6d7280;
  }

  &__info-element:last-of-type::after {
    display: none;
  }

  &__learn-more-btn {
    display: inline-block;
    padding-right: 2rem;
    margin-top: 1.25rem;
  }

  &__learn-more-btn::after {
    @include wh($w: 1rem, $h: 0.5rem);

    top: 0.5rem;
    right: 0.25rem;
  }

  &__user-name {
    color: #272343;
  }
}
