<!DOCTYPE html>
<html lang="en">
  {{> components/head}}
  <body class="page">
    {{> components/header}}
    <main class="content">
      <section class="search-post">
        <div class="search">
          <p class="search__request">
            ‘<span class="search__request-text">Travel</span>’ here’s what we’ve
            got
          </p>
          <form
            name="post-search-form"
            action="#"
            autocomplete="off"
            class="search__form"
          >
            <fieldset class="search__field-set">
              <input
                class="search__input"
                type="text"
                name="text"
                maxlength="40"
              />
            </fieldset>
            <button
              class="search__accept-btn button button_type_accept"
              type="submit"
            >
              Search
            </button>
          </form>
        </div>
        <ul class="search-post__list list">
          <li class="search-post__list-item">
            <img
              class="search-post__image"
              src="../images/mountains.jpg"
              alt="Mountains"
            />
            <article class="post-preview post-preview_place_search-post">
              <p class="post-preview__category">Travel</p>
              <h2 class="post-preview__title post-preview__title_size_small">
                Top 10 beautiful Place in Bangladesh
              </h2>
              <div class="post-preview__info">
                <span class="post-preview__info-element post-preview__date"
                  >March 25, 2021</span
                >
                <span
                  class="post-preview__info-element post-preview__time-to-read"
                  >4 min read</span
                >
              </div>
              <a
                class="post-preview__learn-more-btn link link_type_learn-more"
                href="#"
                target="_blank"
                >Read Article
              </a>
            </article>
          </li>
        </ul>
      </section>
    </main>
    {{> components/footer}}
  </body>
</html>
