<!DOCTYPE html>
<html lang="en">
  {{> components/head}}
  <body class="page">
    {{> components/header}}
    <main class="content">
      <section class="post-details">
        <article class="post-preview post-preview_place_post-details">
          <p class="post-preview__category">Interior</p>
          <h2 class="post-preview__title post-preview__title_size_medium">
            20 essential skills for successful web designers
          </h2>
          <div class="post-preview__holder">
            <div class="post-preview__avatar-holder">
              <img
                class="post-preview__avatar"
                src="../images/avatar.png"
                alt="Аватар"
              />
              <span class="post-preview__avatar-subline">Kadin Dias</span>
            </div>
            <div class="post-preview__info">
              <span class="post-preview__info-element post-preview__date"
                >March 25, 2021</span
              >
              <span
                class="post-preview__info-element post-preview__time-to-read"
                >4 min read</span
              >
            </div>
            <div class="share">
              <ul class="share__links list">
                <li class="share__links-item">
                  <a
                    class="share__link share__link_target_facebook link"
                    href="#"
                    target="_blank"
                  ></a>
                  <a
                    class="share__link share__link_target_twitter link"
                    href="#"
                    target="_blank"
                  ></a>
                  <a
                    class="share__link share__link_target_pinterest link"
                    href="#"
                    target="_blank"
                  ></a>
                  <a
                    class="share__link share__link_target_copy link"
                    href="#"
                    target="_blank"
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </article>

        <article class="post">
          <div class="post__social-info">
            <span class="post__social-info-element post__likes-count"
              >24 Likes</span
            >
            <span class="post__social-info-element post__comments-count"
              >195 Comments</span
            >
          </div>
          <h1 class="post__title">20 web designer skills to have</h1>
          <h2 class="post__subtitle">
            Here's a medley of 20 skills to help you become a design expert, no
            matter where you're at in your career.
          </h2>
          <div class="post__main-content">
            <p class="post__quote">
              Being a web designer involves harmoniously combining visuals and
              content. But non-technical skills, like collaboration and
              communication, are also important.
            </p>
            <div class="post__section">
              <h3 class="post__section-title">
                1. Know the principles of design
              </h3>
              <img
                src="../images/principles-of-design.jpg"
                alt="Principles of design"
                class="post__illustration"
              />
              <p class="post__paragraph">
                You don’t need to know music theory to write a song, and if
                you’ve never taken an art class, you can still draw. Some of us
                might have an innate artistic ability, but knowing the basic
                fundamentals can make the difference between recreating what you
                see and being able to build a design that’s calculated and
                unique.
              </p>
              <p class="post__paragraph">
                “Essential visual design principles” does a deeper dive into the
                principles of visual design rooted in Gestalt psychology. These
                fundamentals are the foundation of web and graphic design and
                important to know. Whether you’re designing a portfolio or a
                print ad, these concepts can help guide your work. Let’s do a
                quick recap.
              </p>
              <h4 class="post__section-subtitle">Emergence</h4>
              <p class="post__paragraph">
                Rather than focusing on individual parts, we tend to process
                visual stimuli as a whole. Emergence is seeing an arrangement of
                visuals and immediately understanding what they represent. When
                something breaks a pattern, we become aware of the pieces that
                make it up.
              </p>
              <h4 class="post__section-subtitle">Reification</h4>
              <p class="post__paragraph">
                Reification is using only the essential parts of an object to
                make it identifiable. It lets you exercise restraint in a
                design, while still conveying meaning.
              </p>
              <h4 class="post__section-subtitle">Invariance</h4>
              <p class="post__paragraph">
                Invariance is being able to use tasteful discordance in your
                designs, making something stand out from a group of similar
                objects. The use of invariance allows you to highlight parts of
                a design.
              </p>
            </div>
            <div class="post__section">
              <h3 class="post__section-title">2. Typography</h3>
              <img
                src="../images/typography.jpg"
                alt="Typography"
                class="post__illustration"
              />
              <p class="post__paragraph">
                Typography shapes our perception of ideas. A type’s weight and
                geometry communicates meaning, and as a designer, it’s important
                to know the best way to deliver messaging with the appropriate
                typographical choices.
              </p>
              <p class="post__paragraph">
                All the font options can make it hard for new designers to know
                what to choose. Practical fonts like Georgia, Verdana, and
                Roboto work well for body copy, while more decorative typefaces
                should be used sparingly as ornamentation. Good designers know
                the difference between type styles and where to use them.
              </p>
              <p class="post__paragraph">
                There are plenty of resources on the web to help broaden your
                typographic knowledge. FONTS IN USE shows different typefaces
                applied to a variety of media. Tools like Font combinations for
                web designers can give you ideas for possible pairings.
              </p>
            </div>
            <div class="post__social-panel">
              <button
                class="post__like-btn button button_type_accept"
                type="button"
              >
                Like
              </button>
              <div class="share">
                <p class="share__description">Share the Post:</p>
                <ul class="share__links list">
                  <li class="share__links-item">
                    <a
                      class="share__link share__link_target_facebook link"
                      href="#"
                      target="_blank"
                    ></a>
                    <a
                      class="share__link share__link_target_twitter link"
                      href="#"
                      target="_blank"
                    ></a>
                    <a
                      class="share__link share__link_target_pinterest link"
                      href="#"
                      target="_blank"
                    ></a>
                    <a
                      class="share__link share__link_target_copy link"
                      href="#"
                      target="_blank"
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
            <h3 class="post-details__form-headline">Leave a Comment</h3>
            <form
              name="add-comment-form"
              action="#"
              autocomplete="off"
              class="post-details__form"
            >
              <input
                class="post-details__input post-details__input_type_name"
                name="user-name"
                placeholder="Your name"
                type="text"
                required
                minlength="2"
                maxlength="30"
              />
              <input
                class="post-details__input post-details__input_type_email"
                name="user-email"
                placeholder="Your email"
                type="email"
                required
                minlength="2"
                maxlength="30"
              />
              <textarea
                class="post-details__input post-details__input_type_text"
                name="comment"
                placeholder="Your Comments"
                rows="10"
                minlength="2"
                maxlength="300"
                required
              ></textarea>
              <button
                class="post-details__accept-btn button button_type_accept"
                type="submit"
              >
                Post Comment
              </button>
            </form>

            <div class="comments">
              <p class="comments__title">
                Comments <span class="comments__count">(02)</span>
              </p>
              <ul class="comments__list list">
                <li class="comments__list-item">
                  <article class="comment">
                    <div class="comment__author">
                      <img
                        class="comment__author-avatar"
                        src="../images/avatar.png"
                        alt="Аватар"
                      />
                      <p class="comment__author-about">
                        <span
                          class="
                            comment__author-about-item comment__author-name
                          "
                          >Kevin</span
                        >
                        <span
                          class="
                            comment__author-about-item comment__publication-date
                          "
                          >2 hours ago</span
                        >
                      </p>
                    </div>
                    <p class="comment__text">
                      Donec pellentesque luctus tortor finibus blandit. Fusce
                      tincidunt lectus augue, quis commodo justo tincidunt eget.
                      Praesent at elit diam.
                    </p>
                    <button class="comment__replay-btn button" type="button">
                      Replay
                    </button>
                  </article>
                </li>
                <li class="comments__list-item">
                  <article class="comment">
                    <div class="comment__author">
                      <img
                        class="comment__author-avatar"
                        src="../images/avatar.png"
                        alt="Аватар"
                      />
                      <p class="comment__author-about">
                        <span
                          class="
                            comment__author-about-item comment__author-name
                          "
                          >Marry</span
                        >
                        <span
                          class="
                            comment__author-about-item comment__publication-date
                          "
                          >2 hours ago</span
                        >
                      </p>
                    </div>
                    <p class="comment__text">
                      Nulla varius enim eu dui venenatis, nec lacinia urna
                      gravida. Vivamus euismod tincidunt eros at bibendum. Proin
                      lacus dolor, posuere et posuere eu, congue posuere lectus.
                      Suspendisse id lorem egestas, volutpat lacus a, auctor
                      justo. Cras ac elementum arcu, eget ornare massa. Donec
                      eget urna magna. Fusce vestibulum arcu eu libero
                      ullamcorper, nec semper dolor bibendum. Mauris laoreet
                      justo massa, vitae venenatis augue dignissim ac.
                    </p>
                    <button class="comment__replay-btn button">Replay</button>
                  </article>
                </li>
              </ul>
            </div>
          </div>
        </article>
      </section>
    </main>
    {{> components/footer}}
  </body>
</html>
